body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #202020;
  color: #a0a0a0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  color: #a0a0aa;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
}
button:hover {
  color: white;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 5px;
  border: none;
}

#artContainer {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.viewport {
  width: 100vw;
  height: calc(100vh - 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightPanel {
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  padding: 2rem 0.25rem;
  gap: 0.5rem 0;
  position: relative;
  margin-right: 0.5rem;
  border-radius: 5px 0 0 5px;
}

.leftPanel {
  height: 100%;
}
.layerList {
  width: 100%;
  height: 30rem;
  overflow: hidden;
  overflow-y: auto;
  background-color: #434242;
}
.layerList:nth-child(odd),
.layerList:nth-child(even) {
  margin: 4px 0px;
}

#layerCard {
  height: 2rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  background: #202020;
  margin: 4px 0px;
  color: white;
  font: 600;
}

canvas {
  border: 1px solid #000;
  background-color: #fff;
}

#gridCanvas {
  position: absolute;
}

#gridResolutionLabel {
  align-self: flex-start;
}
#gridResolution {
  width: 3rem;
}

.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.w-full {
  width: 100%;
}

.space-x:nth-child(odd),
.space-x:nth-child(even) {
  gap: 4px;
}

#addLayer {
  align-self: flex-end;
  font-size: 1rem;
}

.colorPalette {
  width: 100%;
  height: fit-content;
  padding: 1rem 0;
  background-color: #20202070;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-auto-rows: 50px;
  place-items: center;
}
