body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #202020;
  color: #a0a0a0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  /* cursor: url("assets/pencil.svg"), auto; */
  cursor: none;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  color: #a0a0aa;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
button:hover {
  color: white;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 30px;
  min-width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 5px;
  border: none;
}

#artContainer {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.viewport {
  width: 100vw;
  height: calc(100vh - 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.rightPanel {
  width: 15rem;
  height: calc(100% - 12rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  padding: 2rem 0.25rem;
  gap: 0.5rem 0;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  margin-right: 0.5rem;
  border-radius: 5px 0 0 5px;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.rightPanel.collapsed {
  right: -20rem;
}

#collapseButton {
  position: fixed;
  top: 5%;
  left: -2rem;
  font-size: 1rem;
  background-color: #5b5b5b;
  border-radius: 2px;
}

.rightPanel.collapsed #collapseButton {
  left: -6rem;
}

.leftPanel {
  height: calc(100% - 12rem);
  width: 3rem;
  background-color: #303030;
  border-radius: 0 5px 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
.leftPanel:nth-child(odd),
.leftPanel:nth-child(even) {
  gap: 16px;
}

.layerList {
  width: 100%;
  height: 30rem;
  overflow: hidden;
  overflow-y: auto;
  background-color: #434242;
}
.layerList:nth-child(odd),
.layerList:nth-child(even) {
  margin: 4px 0px;
}

.layerCard {
  height: 2rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  background: #202020;
  margin: 4px 0px;
  color: white;
  font: 600;
  justify-content: space-between;
}
.layerCard.selected {
  box-shadow: 0 0 0 1px #a0a0a0;
}

canvas {
  background-color: transparent;
}
#canvasContainer {
  position: relative;
  width: 640px; /* Adjust width as needed */
  height: 640px; /* Adjust height as needed */
}

#gridCanvas {
  z-index: 2;
  position: absolute;
}

#chessboard {
  position: absolute;
  z-index: 0;
}

#gridResolutionLabel {
  align-self: flex-start;
}
#gridResolution {
  width: 3rem;
}

.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.w-full {
  width: 100%;
}

.space-x:nth-child(odd),
.space-x:nth-child(even) {
  gap: 4px;
}

#addLayer {
  align-self: flex-end;
  font-size: 1rem;
}

.colorPalette {
  width: 100%;
  height: fit-content;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.btn {
  font-size: 15px;
  padding: 0.5rem;
  transition: all 0.5s ease-out;
}
.toolActive {
  background-color: #4cbaff;
  border-radius: 5px;
  color: #202020;
}

input[type="color"].active {
  border: 2px solid #f0f0f0;
  border-radius: 10px;
  padding: 0 !important;
}

#addPalette {
  border-radius: 5px;
  border: 1px solid white;
  width: 20px;
  min-width: 20px;
  height: 20px;
  display: grid;
  place-items: center;
}
#addPalette:hover {
  cursor: pointer;
  border-color: #a0a0a0;
}

#colorMenu {
  height: 2rem;
  width: 90vw;
  position: absolute;
  bottom: 1%;
  background-color: #5b5b5b;
  border-radius: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  scrollbar-color: #3b3b3b;
  scrollbar-width: thin;
  white-space: no-wrap;
}

.customCursor {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(10%, -85%);
  pointer-events: none;
  z-index: 9999;
  background-image: url("assets/pencil.svg");
  background-size: cover;
}

#mouseFollower {
  border: 1px solid #5b5b5b;
  z-index: 30;
  position: fixed;
  transition: transform 0.2s  cubic-bezier(0.25, 0.46, 0.45, 0.94) /* Add transition for smoother movement */
}

